
* {
	box-sizing: border-box;
}

.bar__long {
    background: var(--red);
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
    z-index: 99;
    transition: 0.5s;
    color:blue;
    z-index: 5000;
}

body, main, footer {
	color: #2f2f2f;
	font-family: 'Cormorant', serif;
	font-weight: 400;

}

.container {
	max-width: 1440px;
	padding: 0 30px;
	margin: 0 auto;

} 

.header-top {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.logo {
	transform: translateY(-2px);
}

.nav-ul {
	display: flex;
	flex-wrap: wrap;
}


.nav-li {
	margin-right: 30px;
}


.nav-link {
	position: relative;
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; /
	color: #2f2f2f;
	font-size: 120%;


}

.nav-link:after {
	display: block;
	position: absolute;
	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color:  #2f2f2f; /*задаём цвет линии*/
	content: "";
	transition: width 0.3s ease-out; /*задаём время анимации*/
	z-index: 10;
}

.nav-link:hover:after,
.nav-link:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.person {
	display: flex;
	justify-content: space-between;
}

.person_name {
	transform: translateY(350px);
	z-index: 999;
}

.person_text_name {
	font-size: 50px;
	font-weight: 700;
	color: black;
}

.person_text_profession {
	font-size: 25px;
}


.person_btns {
	margin-top: 30px;
}

.btn {
	padding: 10px 20px;
	border-radius: 0px;
	border: 0px;
	font-family: 'Cormorant', serif;
}

.person_btn_black {
	background: #2f2f2f;
	color: white;
}

.person_btn_white {
	border: 1px solid #2f2f2f;
}

.person_photo > img {
	transform: scale(-1, 1);
	z-index: 1;
	position: absolute;
	right: 0px;

}

.person_decorate_border {
	width: 300px;
	height: 500px;
	border:20px solid rgba(0,0,0, 0.1);
	position: absolute;
	top: 200px;
	left: -20px;
}

.about_me {
	display: flex;
	justify-content: center;
}

.about_header {
	margin-top: 700px;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	color: black;

}

.about_detail {
	text-align: center;
	width: 600px;
	font-size: 20px;
}

.about_detail>strong {
	font-weight: 700;

}

.line {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.about_me_downloadCV {
	text-align: center;
}

.about_btn_downloadCV {
	border: 1px solid #2f2f2f;
	font-size: 17px;
	font-weight: 400;
	color: black;
	text-transform: uppercase;
	background: black;
	color: white;
	font-family: 'Cormorant', serif;
	margin-top: 25px;

}

.skills_header {
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
	color: black;
	margin-top: 90px;
}

.skills_progressbar {
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1;

}

.progress {
	width: 100%;
	height: 10px;
	background: silver;
	position: relative;
	transition: 1s;
}

.progress:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 10px;
	background: black;
	transition: 1s;
}


.skill {
		width: 400px;
		margin-right: 10px;

}





